body {
    margin: 0;
    padding: 0 0 100px 0;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
    width: 100vw;
    overflow-x: hidden;
}
p {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    display: flex;
    padding: 10px 0;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.title {
    margin: 0;
}
.description {
    font-style: italic;
    font-size: 25px;
}
.ball {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.ball-container {
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 60vh;
    transition: transform 200ms ease-in-out;
}
.left {
    transform: translateX(calc(-60% + 100px)) rotateZ(-360deg);

}
.right {
    transform: translateX(calc(60% - 100px)) rotateZ(360deg);
}
.quote-container {
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateY(-50%);
}
.quote {
    margin: 0;
    font-size: 17px;
    width: 22%;
    text-align: center;
    transition: font-size 150ms;
}
@media screen and (max-height: 555px) {
    .quote {
        font-size: 15px;
    }
}
/* @media screen and (max-width: 440px) {
    .quote {
        font-size: 15px;
    }
} */
@media screen and (max-height: 460px) {
    .quote {
        font-size: 12px;
        width: 20vh;
        min-width: 65px;
    }
}
@media screen and (max-width: 440px) {
    .quote {
        font-size: 14px;
    }
}
.inactive {
    opacity: 0;
    transition: opacity 150ms;
}
.active {
    opacity: 1;
    transition: opacity 150ms;
}
.send-button {
    margin-top: 10px;
    background-color: blue;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    transition: border 150ms, padding 150ms, background-color 150ms, font-size 150ms;
    border-radius: 50px;
    cursor: pointer;
}
.send-button:hover {
    border: 1px solid blue;
    font-size: 20px;
    padding: 10px 30px;
    background-color: transparent;
}
.input-bar {
    background-color: transparent;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 18px;
}
.input-bar:focus {
    outline: none;
}